.title-label{
    display: block;
    font-size: 8px;
}
.title-mem{
    font-size: 2px;
}
input{
    border-radius: 3em;
    border:1px solid #555;
    text-align: center;
}
.headText{
    text-align: center;
    font-size: 150%;
}
h1{
    background-color: beige;
    padding: 10px 10px 10px 10px;
    border-radius: 30em;
}

body{
    background-color: burlywood;
}

.bodyText{
    background-color: beige;
    padding: 20px 20px 20px 20px;
    border-radius: 2em;
    box-shadow: 10px 10px 30px rgb(103, 85, 43);
}
table{
    background-color: blanchedalmond;
    margin-left: auto;
    margin-right: auto;
    width: 80% ;
    border-radius: 2em;
    border: 6px solid white;
    padding: 10px 10px;
    box-shadow: 5px 5px 10px #CCC;
}

th,tr,td{
    font-size: larger;
    padding: 8px 10px 8px 10px;
    border: 4px solid rgb(255, 255, 255);
    border-collapse: collapse;
    border-radius: 20px;
}

div .submit-btn{
    margin-left: 10%;
    width: 80%;
    border: 2px solid white;
    box-shadow: 5px 5px 20px #555;
    font-family: 'Courier New', Courier, monospace;
    font-size: 3em;
}

select{
    border: 0.5px solid rgb(56, 43, 43);
    border-radius: 2em;
}
